@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color :darkgrey" class="text-center">
    <h1 class="display-4">Welcome Maryam habibi</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
